
#login{
    text-align:center;
    position:absolute;
    width:300px;
    height:auto;
    left:-500%;
    margin-left:-150px;
    top:50%;
    margin-top:-200px;
    -webkit-box-shadow: lightslategray 2px 4px 4px 2px;;
    -moz-box-shadow: lightslategray 2px 4px 4px 2px;;
    box-shadow: lightslategray 2px 4px 4px 2px;;
}
h2{
    background-color: lightslategray;
    color:white;
    padding:10px  0 10px;
}
input{
    font-size: 1.5em;
    font-style: italic;
    width:230px;
    margin:auto;
    padding:10px;
    border-radius:4px;
    margin-bottom: 20px;
}
.help-block{
    margin:auto;
    color:red;
    font-size:.9em;
    font-style: italic;
    width:60%;
    border:1px solid;
    border-radius: 4px;
    padding:4px;

}